* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #fffbff;
  }

  #app {
    display: grid;
    grid-template-rows: 1fr 4fr 1.5fr;
    gap: 0.5rem;
    width: 300px;
    height: 200px;
    padding: 10px;
  }

  #guias {
    background-color: rgb(199 94 0 / 5%);
    border-radius: 0.5rem;
    padding: 10px;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #guias div {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }

  .btn {
    border-radius: 0.5rem;
    border: 0;
    padding: 0 8px;
    font-size: 0.75rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out 0s;
  }

  .btn:hover {
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
  }

  #btns-bar {
    display: flex;
    justify-content: space-between;
  }

  #queryButton {
    background-color: #e8e5ac;
    color: #1d1d00;
  }

  #receptionButton {
    color: #2b1609;
  }

  #clearButton {
    background-color: #ffdbc8;
    color: #2b1609;
  }

  #guides_counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
  }

  #guides_counter .text {
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  #counter {
    color: #ba1a1a;
    font-style: italic;
    font-weight: 500;
  }